.question-two {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.option-two {
  display: flex;
  a {
    margin: 1em;
    padding: 1em;
    text-decoration: none;
    color: black;
    &:hover {
      background-color: aquamarine;
    }
  }
}
